# Attributes

In [9]:
import pandas as pd
import numpy as np
dfFromCsv = pd.read_csv("dummy.csv")

print(dfFromCsv.shape) # Prints row and column number.
print("\n")
print(dfFromCsv.index) # Prints index range.
print("\n")
print(dfFromCsv.columns) # Prints columns name and it's data type (object means string as datatype).
print("\n")
print(dfFromCsv.dtypes) # Prints each datatype under columns and column data type.

(1679, 3)


RangeIndex(start=0, stop=1679, step=1)


Index(['Name', 'Roll', 'Zip Code'], dtype='object')


Name        object
Roll         int64
Zip Code     int64
dtype: object

# Methods

In [11]:
print(dfFromCsv.head())
print("\n")
print(dfFromCsv.tail())
print("\n")
print(dfFromCsv.info())
print("\n")
print(dfFromCsv.describe())

      Name  Roll  Zip Code
0     Emon     1      7894
1     Upal     2      4577
2    Jasim     3      1123
3  Urbashi     4      1457
4        A     5      1791


         Name  Roll  Zip Code
1674        C  1675    559571
1675     Emon  1676    559905
1676     Upal  1677    560239
1677    Jasim  1678    560573
1678  Urbashi  1679    560907


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      1679 non-null   object
 1   Roll      1679 non-null   int64
 2   Zip Code  1679 non-null   int64
dtypes: int64(2), object(1)
memory usage: 39.5+ KB
None


              Roll       Zip Code
count  1679.000000    1679.000000
mean    840.000000  280687.686718
std     484.829867  161921.729658
min       1.000000    1123.000000
25%     420.500000  140568.000000
50%     840.000000  280681.000000
75%    1259.500000  420794.000000
max    1679.000000  560907.000000

# Functions

In [22]:
print(len(dfFromCsv)) # Prints row number.
print("\n")
print(max(dfFromCsv)) # Prints column with highest values.
print("\n")
print(min(dfFromCsv)) # Prints column with lowest values.
print("\n")
print(type(dfFromCsv)) # Prints data frame type.
print("\n")
print(round(dfFromCsv, 2)) # Rounds every float numbers of data frame in to 2 decemal place and prints the data frame.

1679


Zip Code


Name


<class 'pandas.core.frame.DataFrame'>


         Name  Roll  Zip Code
0        Emon     1      7894
1        Upal     2      4577
2       Jasim     3      1123
3     Urbashi     4      1457
4           A     5      1791
...       ...   ...       ...
1674        C  1675    559571
1675     Emon  1676    559905
1676     Upal  1677    560239
1677    Jasim  1678    560573
1678  Urbashi  1679    560907

[1679 rows x 3 columns]