# Settingup data frame

In [1]:
import pandas as pd

dfPlayers = pd.read_csv("players_20.csv")
dfPlayers.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

In [2]:
dfPlayers[dfPlayers.duplicated("short_name")]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
430,211591,https://sofifa.com/player/211591/moussa-dembel...,M. Dembélé,Moussa Dembélé,22,1996-07-12,183,74,France,Olympique Lyonnais,...,52+2,51+2,51+2,51+2,52+2,49+2,48+2,48+2,48+2,49+2
693,184949,https://sofifa.com/player/184949/mariano-ferre...,Mariano,Mariano Ferreira Filho,33,1986-06-23,177,69,Brazil,Galatasaray SK,...,78+2,75+2,75+2,75+2,78+2,77+2,72+2,72+2,72+2,77+2
832,202642,https://sofifa.com/player/202642/fernando-luca...,Fernando,Fernando Lucas Martins,27,1992-03-03,175,80,Brazil,Beijing Sinobo Guoan FC,...,74+2,77+2,77+2,77+2,74+2,74+2,74+2,74+2,74+2,74+2
857,215466,https://sofifa.com/player/215466/nikola-maksim...,N. Maksimović,Nikola Maksimović,27,1991-11-25,193,87,Serbia,Napoli,...,66+2,69+2,69+2,69+2,66+2,69+2,77+2,77+2,77+2,69+2
898,180334,https://sofifa.com/player/180334/marcelo-anton...,Marcelo,Marcelo Antônio Guedes Filho,32,1987-05-20,191,85,Brazil,Olympique Lyonnais,...,66+2,74+2,74+2,74+2,66+2,68+2,77+2,77+2,77+2,68+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18238,247201,https://sofifa.com/player/247201/luke-singh/20...,L. Singh,Luke Singh,17,2001-09-01,184,72,Canada,Brøndby IF,...,41+2,40+2,40+2,40+2,41+2,44+2,47+2,47+2,47+2,44+2
18246,252883,https://sofifa.com/player/252883/hector-kypria...,H. Kyprianou,Hector Kyprianou,18,2001-05-27,182,74,Cyprus,Leyton Orient,...,46+2,45+2,45+2,45+2,46+2,46+2,43+2,43+2,43+2,46+2
18266,245029,https://sofifa.com/player/245029/peng-wang/20/...,Wang Peng,王鹏,21,1997-11-16,175,70,China PR,Guangzhou R&F FC,...,43+2,43+2,43+2,43+2,43+2,43+2,40+2,40+2,40+2,43+2
18267,247002,https://sofifa.com/player/247002/jack-ryan/20/...,J. Ryan,Jack Ryan,19,2000-02-07,178,75,Republic of Ireland,UCD AFC,...,45+2,46+2,46+2,46+2,45+2,45+2,44+2,44+2,44+2,45+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2

In [3]:
dfPlayers.drop_duplicates("short_name", keep = "first", inplace = True)
dfPlayers[dfPlayers.duplicated("short_name")] # Hence no duplicated values found in the column, we can make it index.

Empty DataFrame
Columns: [sofifa_id, player_url, short_name, long_name, age, dob, height_cm, weight_kg, nationality, club, overall, potential, value_eur, wage_eur, player_positions, preferred_foot, international_reputation, weak_foot, skill_moves, work_rate, body_type, real_face, release_clause_eur, player_tags, team_position, team_jersey_number, loaned_from, joined, contract_valid_until, nation_position, nation_jersey_number, pace, shooting, passing, dribbling, defending, physic, gk_diving, gk_handling, gk_kicking, gk_reflexes, gk_speed, gk_positioning, player_traits, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, ...]
Index: []

[0 rows x 104 columns]

In [4]:
dfPlayers.set_index("short_name", inplace = True)
dfPlayers

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P. Martin,251789,https://sofifa.com/player/251789/paul-martin/2...,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [5]:
dfPlayers.rename(columns = {"dob":"date_of_birth"}, inplace = True)
dfPlayers.head(3)

,sofifa_id,player_url,long_name,age,date_of_birth,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

In [6]:
dfPlayers = dfPlayers[["overall","long_name","date_of_birth","age","height_cm","nationality","club"]]
dfPlayers.head(3)

,overall,long_name,date_of_birth,age,height_cm,nationality,club
short_name,,,,,,,
L. Messi,94,Lionel Andrés Messi Cuccittini,1987-06-24,32,170,Argentina,FC Barcelona
Cristiano Ronaldo,93,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,34,187,Portugal,Juventus
Neymar Jr,92,Neymar da Silva Santos Junior,1992-02-05,27,175,Brazil,Paris Saint-Germain

In [7]:
dfPlayers.rename(columns = {"overall":"overall_rating"}, inplace = True)

/tmp/ipykernel_36877/4139626067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfPlayers.rename(columns = {"overall":"overall_rating"}, inplace = True)

In [8]:
dfPlayers.head(10)

,overall_rating,long_name,date_of_birth,age,height_cm,nationality,club
short_name,,,,,,,
L. Messi,94,Lionel Andrés Messi Cuccittini,1987-06-24,32,170,Argentina,FC Barcelona
Cristiano Ronaldo,93,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,34,187,Portugal,Juventus
Neymar Jr,92,Neymar da Silva Santos Junior,1992-02-05,27,175,Brazil,Paris Saint-Germain
J. Oblak,91,Jan Oblak,1993-01-07,26,188,Slovenia,Atlético Madrid
E. Hazard,91,Eden Hazard,1991-01-07,28,175,Belgium,Real Madrid
K. De Bruyne,91,Kevin De Bruyne,1991-06-28,28,181,Belgium,Manchester City
M. ter Stegen,90,Marc-André ter Stegen,1992-04-30,27,187,Germany,FC Barcelona
V. van Dijk,90,Virgil van Dijk,1991-07-08,27,193,Netherlands,Liverpool
L. Modrić,90,Luka Modrić,1985-09-09,33,172,Croatia,Real Madrid
M. Salah,90,Mohamed Salah Ghaly,1992-06-15,27,175,Egypt,Liverpool

# Selecting with .loc() method

In [15]:
dfPlayers.loc["K. De Bruyne", "overall_rating"] # Selecting a perticular data cell

91

In [37]:
dfPlayers.loc[:, "overall_rating"] # To get all rows under a column

short_name
L. Messi             94
Cristiano Ronaldo    93
Neymar Jr            92
J. Oblak             91
E. Hazard            91
                     ..
P. Martin            48
Shao Shuai           48
Xiao Mingjie         48
Wang Haijian         48
Pan Ximing           48
Name: overall_rating, Length: 17354, dtype: int64

In [16]:
dfPlayers.loc[:, "L. Messi"] # This method doesn't work on index column name.

KeyError: 'L. Messi'

In [32]:
dfPlayers.loc["L. Messi",:] # To get all columns under a row index.

overall_rating                                94
long_name         Lionel Andrés Messi Cuccittini
date_of_birth                         1987-06-24
age                                           32
height_cm                                    170
nationality                            Argentina
club                                FC Barcelona
Name: L. Messi, dtype: object

In [33]:
dfPlayers.loc["L. Messi"] # To get all columns under a row index.

overall_rating                                94
long_name         Lionel Andrés Messi Cuccittini
date_of_birth                         1987-06-24
age                                           32
height_cm                                    170
nationality                            Argentina
club                                FC Barcelona
Name: L. Messi, dtype: object

In [38]:
dfPlayers.loc[["L. Messi", "Neymar Jr","Cristiano Ronaldo"]] # To get all columns under multiple row index.

,overall_rating,long_name,date_of_birth,age,height_cm,nationality,club
short_name,,,,,,,
L. Messi,94,Lionel Andrés Messi Cuccittini,1987-06-24,32,170,Argentina,FC Barcelona
Neymar Jr,92,Neymar da Silva Santos Junior,1992-02-05,27,175,Brazil,Paris Saint-Germain
Cristiano Ronaldo,93,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,34,187,Portugal,Juventus

In [42]:
dfPlayers.loc[["overall_rating", "club"]] # This doesn't work!

KeyError: "None of [Index(['overall_rating', 'club'], dtype='object', name='short_name')] are in the [index]"

In [43]:
dfPlayers.loc[["L. Messi", "Neymar Jr","Cristiano Ronaldo"], ["overall_rating", "club"]] # Selecting using list of values.

                   overall_rating                 club
short_name
L. Messi                       94         FC Barcelona
Neymar Jr                      92  Paris Saint-Germain
Cristiano Ronaldo              93             Juventus

In [44]:
dfPlayers.loc[["L. Messi", "Neymar Jr","Cristiano Ronaldo"], "club"]

short_name
L. Messi                    FC Barcelona
Neymar Jr            Paris Saint-Germain
Cristiano Ronaldo               Juventus
Name: club, dtype: object

In [45]:
dfPlayers.loc[:,["overall_rating", "club"]]

                   overall_rating                           club
short_name
L. Messi                       94                   FC Barcelona
Cristiano Ronaldo              93                       Juventus
Neymar Jr                      92            Paris Saint-Germain
J. Oblak                       91                Atlético Madrid
E. Hazard                      91                    Real Madrid
...                           ...                            ...
P. Martin                      48                   Waterford FC
Shao Shuai                     48               Beijing Renhe FC
Xiao Mingjie                   48               Shanghai SIPG FC
Wang Haijian                   48  Shanghai Greenland Shenhua FC
Pan Ximing                     48         Hebei China Fortune FC

[17354 rows x 2 columns]

In [51]:
dfPlayers.loc[["L. Messi", "Neymar Jr","Cristiano Ronaldo"],:]

,overall_rating,long_name,date_of_birth,age,height_cm,nationality,club
short_name,,,,,,,
L. Messi,94,Lionel Andrés Messi Cuccittini,1987-06-24,32,170,Argentina,FC Barcelona
Neymar Jr,92,Neymar da Silva Santos Junior,1992-02-05,27,175,Brazil,Paris Saint-Germain
Cristiano Ronaldo,93,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,34,187,Portugal,Juventus

# Selecting range of data with slice

In [52]:
dfPlayers.loc[["L. Messi", "Neymar Jr","Cristiano Ronaldo"],"overall_rating":"nationality"] # Slicing columns

,overall_rating,long_name,date_of_birth,age,height_cm,nationality
short_name,,,,,,
L. Messi,94,Lionel Andrés Messi Cuccittini,1987-06-24,32,170,Argentina
Neymar Jr,92,Neymar da Silva Santos Junior,1992-02-05,27,175,Brazil
Cristiano Ronaldo,93,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,34,187,Portugal

In [53]:
dfPlayers.loc["L. Messi":"E. Hazard", ["overall_rating","nationality"]] # Slicing rows with row index

                   overall_rating nationality
short_name
L. Messi                       94   Argentina
Cristiano Ronaldo              93    Portugal
Neymar Jr                      92      Brazil
J. Oblak                       91    Slovenia
E. Hazard                      91     Belgium

In [55]:
dfPlayers.iloc[0:10, 0:2] # Slicing botyh using .iloc(), we can do the same with .loc() also.

                   overall_rating                            long_name
short_name
L. Messi                       94       Lionel Andrés Messi Cuccittini
Cristiano Ronaldo              93  Cristiano Ronaldo dos Santos Aveiro
Neymar Jr                      92        Neymar da Silva Santos Junior
J. Oblak                       91                            Jan Oblak
E. Hazard                      91                          Eden Hazard
K. De Bruyne                   91                      Kevin De Bruyne
M. ter Stegen                  90                Marc-André ter Stegen
V. van Dijk                    90                      Virgil van Dijk
L. Modrić                      90                          Luka Modrić
M. Salah                       90                 Mohamed  Salah Ghaly